* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ccc;
    padding: 10px;

    
}

.item {
    background-color: maroon;
    padding: 30px;
    margin: 30px;
    color: #fff;
    font-size: 40px;
}