

/* .item {
    background-color: maroon;
    padding: 15px;
    margin: 5px;
    color: #fff;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.example-box {
    background-color: rgb(173, 173, 173);
    padding: 10px;
}

.flex-container {
    list-style-type: none;
    list-style-position: inside;
    height: 200px;
    width: 94%;
    background-color: darkslategrey;
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-item {
    background-color: maroon;
    height: 30px;
    width: 30px;
    margin: 1px;
    border: 2px solid orange;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.i2 {
    flex: 0 1 300px;
}
.i4 {
    height: 100px;
    flex-basis: 15%;
}